@import "slider";

$sectionPadding: 8px;

#sonosctrl {
  max-width: 450px;
  margin: auto;
}

.zonegroup {
  border-bottom: 2px solid black;
  padding: 20px 10px;
}

.action-bar {
  padding-top: $sectionPadding;
}

.action-bar .action-icons {
  width: 80%;
  margin: auto;
}

.volume-bar {
  width: 80%;
  padding-top: $sectionPadding;
}

.action-icon {
  margin-left: 30px;
  margin-top: 10px;
}

.currently-playing {
  padding: $sectionPadding 10px 10px;
  color: #555;
}
.currently-playing img {
  max-width: 350px;
}

.zone-state {
  font-size: large;
}

.group-editor {
  font-size: x-large;
}

.group-editor input {
  margin: 10px;
}
